body {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

h4 {
  font-family: 'Shrikhand', sans-serif;
}

#loaderscreen {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 1000;
  top: 0%;
  -webkit-animation: fadeout 0.1s 3s forwards;
          animation: fadeout 0.1s 3s forwards;
}

@-webkit-keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}

@keyframes fadeout {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}

.loader {
  background-color: white;
  width: 1.2em;
  height: 6.5em;
  -webkit-animation: round_loader 1.5s, 2, linear;
          animation: round_loader 1.5s, 2, linear;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  border-radius: 0.8em;
}

#loader_1 {
  -webkit-animation-delay: 0.48s;
          animation-delay: 0.48s;
}

#loader_2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#loader_3 {
  -webkit-animation-delay: 0.72s;
          animation-delay: 0.72s;
}

#loader_4 {
  -webkit-animation-delay: 0.84s;
          animation-delay: 0.84s;
}

#loader_5 {
  -webkit-animation-delay: 0.96s;
          animation-delay: 0.96s;
}

#loader_6 {
  -webkit-animation-delay: 1.08s;
          animation-delay: 1.08s;
}

#loader_7 {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

#loader_8 {
  -webkit-animation-delay: 1.32s;
          animation-delay: 1.32s;
}

#loader_9 {
  -webkit-animation-delay: 1.50s;
          animation-delay: 1.50s;
}

@-webkit-keyframes round_loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #99e2d0;
  }
  50% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: #ff79d9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #9356dc;
  }
}

@keyframes round_loader {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #99e2d0;
  }
  50% {
    -webkit-transform: scale(0.3);
            transform: scale(0.3);
    background-color: #ff79d9;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    background-color: #9356dc;
  }
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translatey(-100px);
            transform: translatey(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    opacity: 1;
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translatey(-100px);
            transform: translatey(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
    opacity: 1;
  }
}

.btn {
  background: #FF79DA;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  border-radius: 1.8em;
  -webkit-box-shadow: 0px 1px 3px #666666;
          box-shadow: 0px 1px 3px #666666;
  color: white;
  padding: 0.9em 0em;
  margin: 2%;
}

@media screen and (min-width: 375px) {
  .btn {
    margin: 11%;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 1em;
    margin: 2% 33%;
  }
}

.btn:hover {
  background: #bc95e9;
  -webkit-box-shadow: 0 0 25px #0000002e;
          box-shadow: 0 0 25px #0000002e;
}

.main__menu > .btn {
  text-align: center;
  margin: 18%;
  font-size: 1.4em;
}

@media screen and (min-width: 768px) {
  .main__menu > .btn {
    margin: 2% 37%;
    font-size: 0.8em;
    padding: 1.5% 0%;
  }
}

footer {
  background-color: #353535;
  color: white;
  font-size: larger;
  padding: 0 1em 1em 1em;
}

footer h4 {
  padding-top: 0.6em;
  font-weight: 100;
  font-size: 1.3em;
  margin-top: 0em;
}

@media screen and (min-width: 768px) {
  footer h4 {
    font-size: 0.8em;
    padding-bottom: 0.4em;
  }
}

.col-footer {
  padding-bottom: 0.8em;
}

.col-footer > .fa-utensils {
  padding-right: 0.7em;
}

.col-footer > .fa-hands-helping {
  padding-right: 0.2em;
}

@media screen and (min-width: 425px) {
  footer {
    font-size: 23px;
  }
}

@media screen and (min-width: 768px) {
  .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: 0.8em;
    margin-top: -1.5em;
    margin-bottom: -0.8em;
  }
}

@media screen and (min-width: 1024px) {
  .container-footer {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 768px) {
  .col-footer {
    padding: 0 0.8em 0 0.8em;
    text-align: center;
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1024px) {
  .col-footer {
    font-size: 1em;
  }
}

header {
  text-align: center;
  margin: 1.4em 0em;
}

@media screen and (min-width: 768px) {
  header {
    margin-bottom: 0.4em;
  }
}

@media screen and (min-width: 768px) {
  .headerLogo {
    width: 15%;
  }
}

body {
  margin: auto;
  max-width: 768px;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

nav .backMenu-disabeld {
  display: none;
}

.position {
  text-align: center;
  background-color: #eaeaea;
  padding: 1em;
  font-weight: 600;
  -webkit-box-shadow: 0 0 15px #0000002e;
          box-shadow: 0 0 15px #0000002e;
  font-size: 1.3em;
}

@media screen and (min-width: 768px) {
  .position {
    font-size: 0.7em;
    padding: 0.4em 0em;
  }
}

.masthead {
  text-align: center;
  background-color: #f6f6f6;
  padding: 1em 1.4em 2.6em 1.4em;
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .masthead {
    font-size: 0.7em;
    line-height: 1.1em;
    padding: 0.1em 0em;
  }
}

.subtitle {
  margin-bottom: 1em;
  font-size: 0.9em;
}

.howTo > .title {
  padding-left: 1.2em;
  font-size: 1.2em;
}

@media screen and (min-width: 768px) {
  .howTo > .title {
    font-size: 0.7em;
    padding-left: 3em;
  }
}

.number {
  background: #9356dc;
  color: white;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  position: absolute;
  left: -0.9em;
  top: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .number {
    top: 0.5em;
    height: 1.5em;
    width: 1.5em;
    left: -0.2em;
  }
}

.order-card > .fas {
  padding-left: 2em;
  padding-right: 0.8em;
  font-size: 1.2em;
  color: #807f7f;
}

.fas.fa-store {
  color: #9356DC;
}

.order-list {
  margin-bottom: 4em;
}

@media screen and (min-width: 768px) {
  .order-list {
    font-size: 0.7em;
    margin-bottom: 1.2em;
    margin-top: -2.4em;
  }
}

.main {
  background-color: #f6f6f6;
  padding-top: 8%;
  padding-bottom: 4em;
}

@media screen and (min-width: 768px) {
  .main {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
  }
}

.main .title {
  padding: 2em 1em 0.1em 1em;
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .main .title {
    font-size: 0.6em;
    padding-left: 3em;
    margin-bottom: -2.6em;
    padding-top: 0em;
  }
}

.restaurants-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .restaurants-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.restaurant-card {
  background-color: white;
  border-radius: 1.5em;
  margin: 3% 4%;
  padding-bottom: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 15px #0000002e;
          box-shadow: 0 0 15px #0000002e;
  position: relative;
}

@media screen and (min-width: 768px) {
  .restaurant-card {
    margin: 2% 10%;
    padding-bottom: 0%;
    width: 30%;
  }
}

.restaurant-img {
  max-height: 170px;
  width: 100%;
  border-radius: 1em 1em 0em 0em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-text {
  line-height: 0em;
  padding-bottom: 1.6em;
  padding: 0.2em 0em 1.2em 1.2em;
  position: relative;
}

.tag {
  background: #a9e0d1;
  color: #3b8468;
  font-weight: 500;
  padding: 0.4em 1em;
  border-radius: 0.3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.restaurant-text > .fa-heart {
  font-weight: 100;
  position: absolute;
  right: 20px;
  top: 18px;
  font-size: 1.4em;
}

.restaurant-text > .fa-heart:hover {
  background-clip: linear-gradient(to bottom, #ff79da, #9356dc) content-box;
}

.backMenu {
  position: absolute;
  left: 0.4em;
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .backMenu {
    left: 15%;
  }
}

@media screen and (min-width: 1440px) {
  .backMenu {
    left: 25%;
  }
}

.menu__image {
  height: 250px;
  width: 100%;
  margin-top: -0.6em;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .menu__image {
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.main__menu {
  background-color: #f6f6f6;
  padding: 1em 0em 3em 0em;
  border-radius: 3em 3em 0em 0em;
  position: relative;
  top: -3em;
  margin-bottom: -3em;
}

@media screen and (min-width: 768px) {
  .main__menu {
    padding-bottom: 0.2em;
    padding-top: 0.1em;
  }
}

.menu__title {
  padding-bottom: 2%;
  border-bottom: 3px solid #99E2D0;
  margin-right: 86%;
  margin-left: 4%;
  font-weight: 300;
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  .menu__title {
    font-size: 0.55em;
    padding-bottom: 1%;
    margin-right: 88.5%;
    border-bottom: 2px solid #99E2D0;
    margin-left: 9%;
  }
}

.menu__heading {
  font-family: 'Shrikhand';
  font-size: 1.6em;
  padding-left: 0.8em;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .menu__heading {
    font-size: 1.4em;
    margin-bottom: 0em;
    padding-left: 4.5%;
  }
}

.menu__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-weight: 650;
  padding-bottom: 0.4em;
  padding-right: 1em;
}

.menu__content {
  max-width: 100%;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.4em 0.6em;
}

.menu__secondline {
  font-weight: 300;
}

.checkbox {
  font-size: 1.6em;
  color: white;
}

.menu__tag {
  background: #99E2D0;
  border-radius: 0 1em 1em 0;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.menu__card:hover .menu__tag {
  width: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.4ms rotate 360deg width 0.4s;
  transition: -webkit-transform 0.4ms rotate 360deg width 0.4s;
  transition: transform 0.4ms rotate 360deg width 0.4s;
  transition: transform 0.4ms rotate 360deg width 0.4s, -webkit-transform 0.4ms rotate 360deg width 0.4s;
}

.heart {
  position: absolute;
  top: 1.7em;
  right: 1.4em;
  font-size: 1.4em;
}

@media screen and (min-width: 768px) {
  .heart {
    top: 3%;
    right: 4%;
    font-size: 95%;
  }
}

.menu__list {
  margin: 0.8em;
  -webkit-animation: slide 3s forwards;
          animation: slide 3s forwards;
}

.order-card {
  -webkit-box-shadow: 0 0 15px #0000002e;
          box-shadow: 0 0 15px #0000002e;
  background-color: #f6f6f6;
  border-radius: 1.4em;
  margin: 9% 5.5%;
  font-weight: bold;
  padding: 1.8em 0em;
  position: relative;
  font-size: 1em;
}

@media screen and (min-width: 375px) {
  .order-card {
    font-size: 1.1em;
  }
}

@media screen and (min-width: 425px) {
  .order-card {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 768px) {
  .order-card {
    margin: 2% 35%;
    font-size: 1em;
    padding: 1% 1%;
  }
}

@media screen and (min-width: 1024px) {
  .order-card {
    font-size: 1.1em;
  }
}

.order-card.color {
  background-color: #f5edff;
}

.menu__card {
  -webkit-box-shadow: 0 0 15px #0000002e;
          box-shadow: 0 0 15px #0000002e;
  margin-bottom: 1em;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu__card {
    font-size: 0.6em;
    line-height: 1.2em;
    margin: 1% 25%;
  }
}

.starter {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.course {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.dessert {
  -webkit-animation-name: slide;
          animation-name: slide;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
/*# sourceMappingURL=main.css.map */