.btn {
    background: $color-secondary;
    background-image: linear-gradient(to bottom, $color-secondary, $color-primary);
    border-radius: 1.8em;
    box-shadow: 0px 1px 3px #666666;
    color: $color-text-secondary;
    padding: 0.9em 0em;
    margin: 2%;
      @media screen and (min-width: 375px) {
        margin: 11%;
      }
      @media screen and (min-width: 768px) {
        font-size: 1em;
        margin: 2% 33%;
    }
    &:hover {
      background: lighten($color-primary, 15%);
      @include shadow2;
    }
  }

.main__menu > .btn {
  text-align: center;
  margin: 18%;
  font-size: 1.4em;
  @media screen and (min-width: 768px) {
    margin: 2% 37%;
    font-size: 0.8em;
    padding: 1.5% 0%;
}
}