body {
    margin: auto;
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

nav .backMenu-disabeld {
    display: none;
}

.position {
    text-align: center;
    background-color: $color-background-darker;
    padding: 1em;
    font-weight: 600;
    box-shadow: 0 0 15px #0000002e;
    font-size: 1.3em;
    @media screen and (min-width: 768px) {
        font-size: 0.7em;
        padding: 0.4em 0em;
    }
    @media screen and (min-width: 1024px) {
        font-size: 1em;
    }
}

.masthead {
    text-align: center;
    background-color: $color-background;
    padding: 1em 1.4em 2.6em 1.4em;
    font-size: 1.2em;
    @media screen and (min-width: 768px) {
        font-size: 0.7em;
        line-height: 1.1em;
        padding: 0.1em 0em;
    }
    @media screen and (min-width: 1024px) {
        font-size: 1.1em;
    }
}

.subtitle {
    margin-bottom: 1em;
    font-size: 0.9em;
}

.howTo > .title {
    padding-left: 1.2em;
    font-size: 1.2em;
    @media screen and (min-width: 768px) {
        font-size: 0.7em;
        padding-left: 3em;
    }
    @media screen and (min-width: 1024px) {
        font-size: 1.1em;
        padding-left: 0.8em;
    }
}

.number {
    background: #9356dc;
    color: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: absolute;
    left: -0.9em;
    top: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 768px){
        top: 0.7em;
        height: 1.5em;
        width: 1.5em;
        left: -1em;
    }
      @media screen and (min-width: 1024px) {
        top: 1em;
        left: -0.8em;
        width: 2.4em;
        height: 2.4em;
    }
}

.order-card > .fas {
    padding-left: 2em;
    padding-right: 0.8em;
    font-size: 1.2em;
    color: rgb(128, 127, 127);
}

.fas.fa-store {
    color: $color-primary;
}

.order-list {
    margin-bottom:4em;
    @media screen and (min-width: 768px)and(max-width: 1023px) {
        font-size: 0.7em;
        margin-bottom: 1.2em;
        margin-top: -2.4em; 
    }
    @media screen and (min-width: 1024px){
    display: flex;
    flex-direction: row;
    justify-content: center;
    }
}

.order-card {
    @include shadow;
    background-color: $color-background;
    border-radius: 1.4em;
    margin: 9% 5.5%;
    font-weight: bold;
    padding: 1.8em 0em;
    position: relative;
    font-size: 1em;

    @media screen and (min-width: 375px) {
      font-size: 1.1em;
    }
    @media screen and (min-width: 425px) {
      font-size: 1.4em;
    }
    @media screen and (min-width: 768px) {
      margin: 2% 35%;
      font-size: 1em;
      padding: 1% 1%;
    }
    @media screen and (min-width: 1024px) {
    font-size: 0.9em;
    padding: 2% 4% 2% 1%;
    margin: 0% 3%;
    }

    @media screen and (min-width: 1200px) {
        font-size: 1.1em;
        }
    &:hover {
        background: $color-primary-lighter;
        @include shadow2;
      }

} 


.main {
    background-color: $color-background;
    padding-top: 8%;
    padding-bottom: 4em;
    @media screen and (min-width: 768px) {
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }
    @media screen and (min-width: 1024px) {
        padding-bottom: 1.4em;
    }    
}

.main .title {
    padding: 2em 1em 0.1em 1em;
    font-size: 1em;
    @media screen and (min-width: 768px)and(max-width:1023px) {
        font-size: 0.6em;
        padding-left: 3em;
        margin-bottom: -2.6em;
        padding-top: 0em;
        padding-bottom: 1.6em;
    }   
}

.restaurants-list {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 1em;
    }
    @media screen and (min-width: 1024px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 0.1em;
    }
}

.restaurant-card {
    background-color: white;
    border-radius: 1.5em;
    margin: 3% 4%;
    justify-content: center;
    box-shadow: 0 0 15px #0000002e;
    position: relative;
       @media screen and (min-width: 768px) {
        width: 30%;
        height: 165px;
        font-size: 0.8em;
        margin: 1% 3%;
    }  
}

.restaurant-img {
    max-height: 170px;
    width: 100%;
    border-radius: 1em 1em 0em 0em;
    box-sizing: border-box;
    object-fit: cover;
    @media screen and (min-width: 768px) {
        height: 110px;
    }     
}

.restaurant-text {
    line-height: 0em;
    padding: 0.2em 0em 1.2em 1.5em;
    position: relative;
}

.tag {
    background: $color-background-tag;
    color: $color-tag;
    font-weight: 500;
    padding: 0.4em 1em;
    border-radius: 0.3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.restaurant-text > .fa-heart {
    font-weight: 100;
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 1.4em;
}

.fa-heart:hover {
    -webkit-text-stroke-color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    background-image:-webkit-linear-gradient(90deg, $color-secondary, $color-primary);
    font-weight: bold;
    animation: scale 1.5s;
}

