.backMenu {
    position: absolute;
    left: 0.4em;
    font-size: 1.2rem;
    @media screen and (min-width: 1024px) {
        left: 15%;
    }
    @media screen and (min-width: 1440px) {
        left: 25%;
    }
}

.menu__image {
    height: 250px;
    width: 100%;
    margin-top: -0.6em;
    object-fit: cover;
    @media screen and (min-width: 768px) {
        height: 200px;
        object-fit: cover;
    }
}


.main__menu {
    background-color: $color-background;
    padding: 1em 0em 3em 0em;
    border-radius: 3em 3em 0em 0em;
    position: relative;
    top: -3em;
    margin-bottom: -3em;
    @media screen and (min-width: 768px) {
        padding-bottom: 0.2em;
        padding-top: 0.1em;
    }
}

.menu__title {
    padding-bottom: 2%;
    border-bottom: 3px solid $color-tertiary;
    margin-right: 86%;
    margin-left: 4%;
    font-weight: 300;
    font-size: 1em;
    @media screen and (min-width: 768px) {
        font-size: 0.55em;
        padding-bottom: 1%;
        margin-right: 88.5%;
        border-bottom: 2px solid $color-tertiary;
        margin-left: 9%;
    }
}

.menu__heading {
    font-family: 'Shrikhand';
    font-size: 1.6em;
    padding-left: 0.8em;
    font-weight: 600;
    @media screen and (min-width: 768px) {
        font-size: 1.4em;
        margin-bottom: 0em;
        padding-left: 4.5%;
    }
}

.menu__price {
    display: flex;
    align-items: flex-end;
    font-weight: 650;
    padding-bottom: 0.4em;
    padding-right: 1em;
  }

.menu__content {
    max-width: 100%;
    overflow: hidden;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.menu__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0.4em 0.6em;
}

.menu__firstline {
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu__secondline {
    font-weight: 300;
    text-overflow: ellipsis;
    overflow: hidden;
}

.checkbox {
    font-size: 1.6em;
    color: white;
}

.menu__tag {
    background: $color-tertiary;
    border-radius: 0 1em 1em 0;
    padding: 1em;
    align-items: center;
    display: none;
}

.menu__card:hover  .menu__tag {
    width: 1.4em;
    display: flex;
    transition: transform 0.4ms rotate (360deg) width 0.4s;
}

.heart {
    position: absolute;
    top: 1.7em;
    right: 1.4em;
    font-size: 1.4em;
    @media screen and (min-width: 768px) {
        top: 3%;
        right: 4%;
        font-size: 95%;
    }
}

.menu__list {
    margin: 0.8em;
    animation: slide 3s forwards;
}


.order-card {
    @include shadow;
    background-color: $color-background;
    border-radius: 1.4em;
    margin: 9% 5.5%;
    font-weight: bold;
    padding: 1.8em 0em;
    position: relative;
    font-size: 1em;

    @media screen and (min-width: 375px) {
      font-size: 1.1em;
    }
    @media screen and (min-width: 425px) {
      font-size: 1.4em;
    }
    @media screen and (min-width: 768px) {
      margin: 2% 35%;
      font-size: 1em;
      padding: 1% 1%;
  }
  @media screen and (min-width: 1024px) {
    
    font-size: 1.1em;
  }
} 
  
  .order-card.color {
    background-color: $color-primary-lighter;
  }

  .menu__card {
    @include shadow;
    margin-bottom: 1em;
    border-radius: 1em;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.8em;
    display: flex;
    @media screen and (min-width: 768px) {
      font-size: 0.6em;
      line-height: 1.2em;
      margin: 1% 25%;
  }
  }

  .starter {
    animation-name: slide;
    animation-fill-mode: backwards;
    animation-delay: 100ms;
  }

  .course {
    animation-name: slide;
    animation-delay: 700ms;
    animation-fill-mode: backwards;
  }

  .dessert {
    animation-name: slide;
    animation-delay: 1000ms;
    animation-fill-mode: backwards;
  }
