$color-primary: #9356DC;
$color-primary-lighter: #f5edff;
$color-secondary: #FF79DA;
$color-tertiary:  #99E2D0;
$color-text-secondary: white;
$color-background: #f6f6f6;
$color-background-darker: #eaeaea;
$color-background-footer: #353535;
$color-tag: #3b8468;
$color-background-tag: #a9e0d1;
